body {
	margin: 0;
}

main {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

h1, h2 {
	color: #48277c;
	font-family: 'Montserrat', sans-serif;
}

.hero {
	background-color: #eee;
	padding-bottom: 30px;
	padding-top: 55px;
}

h1 {
	margin: auto auto 35px;
  text-align: center;
}

h2 {
	margin-top: 50px;
}

p {
	font-family: 'Open Sans', sans-serif;
	max-width: 700px;
	margin: 25px auto;
}

.getting-here {
	background-image: url("assets/images/city-university-building.jpg");
}

.intro {
	font-size: 1.2em;
}

img {
	display: block;
  margin: 0 auto;
}

a {
  border-bottom: 1px solid black;
	color: black;
	text-decoration: none;
}

.nav {
	padding: 0;
	text-align: center;
}

.nav-item {
  color: black;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	list-style: none;
	padding: 0 15px;
	text-align: center;
}

li {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
}

.address {
  float: left;
  width: 50%;
}

.address p:first-child {
  margin-top: 0;
}

.address span {
  display: block;
}

.location {
  width: 50%;
}
