body {
  font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2 {
	color: #48277c;
	font-family: 'Montserrat', sans-serif;
}

.hero {
	background-color: #eee;
	padding-bottom: 30px;
	padding-top: 55px;
}

.center {
  margin: 0 auto;
  max-width: 700px;
}

h1 {
	margin: 0 auto 35px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
}

p {
  font-size: 1.1em;
	margin: 25px auto;
}

/*
.getting-here {
	background-image: url("../images/city-university-building.jpg");
}*/

.intro {
	font-size: 1.6em;
}

img {
	display: block;
  margin: 0 auto;
}

a {
  border-bottom: 1px solid black;
	color: black;
	text-decoration: none;
}

.nav {
	padding: 0;
	text-align: center;
}

.nav-item {
  color: black;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	list-style: none;
	padding: 0 15px;
	text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
}

figcaption {
  font-size: .9em;
  padding: 6px 0;
}

img {
  max-width: 100%;
}

section {
  min-height: 200px;
  padding: 40px;
}

section:nth-child(2n) {
  background-color: #f5f5f5;
}

.row {
  overflow: hidden;
  padding: 10px 0;
}

.col-50 {
  box-sizing: border-box;
  float: left;
  margin: 0;
  width: 50%;
}

.address {
  margin-top: 10px;
  padding: 40px;
  text-align: left;
}

.address p:first-child {
  margin-top: 0;
}

.address span {
  display: block;
}

.location {
  width: 50%;
}
